# Database
# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@makerspace.qsxdx7g.mongodb.net/
MONGODB_DB=makerspace


# Email Configuration (Nodemailer with Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-gmail-app-password

# Base URL (optional, for email links)
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Environment
NODE_ENV=development
