# Database
# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/
MONGODB_DB=makerspace

# Email
# If using Gmail/SMTP
EMAIL_USER=you@example.com
EMAIL_PASSWORD=your-gmail-app-password



# JWT 
JWT_SECRET=change-me
JWT_EXPIRES_IN=30s
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=5m

# Environment
NODE_ENV=development
