# MongoDB Atlas Configuration
MONGODB_URI=mongodb+srv://username:password@makerspace.qsxdx7g.mongodb.net/
MONGODB_DB=makerspace

# Environment
NODE_ENV=development

# Email Configuration (Resend)
RESEND_API_KEY=adsadasdas

# Application URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
